language: go

go:
  - '1.7'
  - '1.8'
  - '1.9'
  - '1.10'
  - '1.11'
  - '1.12'
  - '1.13'
  - 'tip'

os:
  - linux
  - osx

env:
  - GIMME_ARCH=amd64

matrix:
  fast_finish: true
  allow_failures:
    - go: tip
